

<div class="form-group">
    <input  type="radio" name="crity" id="m{{scheduleInput.yearly.Recurrence[0].ID}}" value="{{scheduleInput.yearly.Recurrence[0].ID}}" ng-model="scheduleInput.yearly.R1" ng-change="refreshSch()"/>
                            <label for="m{{scheduleInput.yearly.Recurrence[0].ID}}">{{scheduleInput.yearly.Recurrence[0].Name}}</label>

                            <select 
                                ng-model="scheduleInput.yearly.Y1CritV"
                                ng-options="it.ID as it.Name for it in scheduleInput.yearly.Y1Crit" ng-change="refreshSch()">
                            </select>

    <input type="text" ng-model="scheduleInput.yearly.y1Month" ng-change="refreshSch()">
    

</div>

<div class="form-group">
    <input  type="radio" name="crity" id="m{{scheduleInput.yearly.Recurrence[1].ID}}" value="{{scheduleInput.yearly.Recurrence[1].ID}}" ng-model="scheduleInput.yearly.R1" ng-change="refreshSch()"/>
                            <label for="m{{scheduleInput.yearly.Recurrence[1].ID}}">{{scheduleInput.yearly.Recurrence[1].Name}}</label>


    						<select 
                                ng-model="scheduleInput.yearly.Y2Crit1V"
                                ng-options="it.ID as it.Name for it in scheduleInput.yearly.Y2Crit1" ng-change="refreshSch()">
                            </select>

                            <select 
                                ng-model="scheduleInput.yearly.Y2Crit2V"
                                ng-options="it.ID as it.Name for it in scheduleInput.yearly.Y2Crit2" ng-change="refreshSch()">
                            </select>
                            <span>{{scheduleInput.yearly.my2Text}}</span>
                            <select 
                                ng-model="scheduleInput.yearly.Y2Crit3V"
                                ng-options="it.ID as it.Name for it in scheduleInput.yearly.Y2Crit3" ng-change="refreshSch()">
                            </select>

    
</div>