<div class="container">
	<div class="row centered-form">
		<div class="panel panel-default">
			<div class="panel-body">
				<ng-form name="frm" class="form-horizontal f" novalidate>
				<div class="">
					<div class="row form-group">
						<div class="col-xs-3 col-sm-3 col-md-3 ">
							<div class="required-field-block">
								<input type="password" name="code" id="code" class="form-control input-sm" placeholder="{{ui.ID_OLD_PASSWORD}}" ng-model="input.OldP" required>
								<div class="required-icon">
									<div class="text">*</div>
								</div>
							</div>
						</div>
						<p ng-show="frm.code.$invalid && !frm.code.$pristine" class="error">required</p>
					</div>
					<div class="row form-group">
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="required-field-block">
								<input type="password" name="password" id="password" class="form-control input-sm" placeholder="{{ui.ID_PASSWORD}}" ng-model="input.Password"  required>
								<div class="required-icon">
									<div class="text">*</div>
								</div>
							</div>
							<p ng-show="frm.password.$invalid && !frm.password.$pristine" class="error">required</p>
							<span ng-show="frm.password.$error.notmatch">{{ui.ID_P_MATCH}}</span>
						</div>
						<div class="col-xs-3 col-sm-3 col-md-3">
							<div class="form-group required-field-block">
								<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="{{ui.ID_C_PASSWORD}}" ng-model="input.CPassword" samep p1="input.Password" p2="input.CPassword"  required >
								<div class="required-icon">
									<div class="text">*</div>
								</div>
							</div>
							<p ng-show="frm.password_confirmation.$error.required && !frm.password_confirmation.$pristine" class="error">required</p>
							<p ng-show="frm.password_confirmation.$error.same && !frm.password_confirmation.$pristine" class="error">{{ui.ID_P_MATCH}}</p>
						</div>
					</div>
					<div>
						<button type="button" class="btn btn-primary" ng-disabled="frm.$invalid" ng-click="changePassword()">{{ui.ID_PASS_CHANGED}}</button>
					</div>
					<span>{{input.ServerMessage}}</span>
				</div>
				</ng-form>
			</div>
		</div>
	</div>
</div>