<div class="container">
	<div class="row centered-form">
		<div>
			
			<div class="panel-body">
				<ng-form name="frm" class="form-horizontal" novalidate>
				
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="login">{{ui.ID_LOGIN}}</label>
						<div class="form-group1  required-field-block">
							<input type="text" name="login" id="login" class="form-control input-sm" placeholder="{{ui.ID_LOGIN}}" ng-model="input.Login" required>
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
					</div>
					<p ng-show="frm.login.$invalid && !frm.login.$pristine" class="error">required</p>
				</div>
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="password">{{ui.ID_PASSWORD}}</label>
						<div class="form-group1 required-field-block">
							<input type="password" name="password" id="password" class="form-control input-sm" placeholder="{{ui.ID_PASSWORD}}" ng-model="input.Password" required>
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<p ng-show="frm.password.$invalid && !frm.password.$pristine" class="error">required</p>
						<span ng-show="frm.password.$error.notmatch">{{ui.ID_P_MATCH}}</span>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="password_confirmation">{{ui.ID_C_PASSWORD}}</label>
						<div class="form-group1  required-field-block">
							<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="{{ui.ID_C_PASSWORD}}" ng-model="input.CPassword" same="input.Password" required >
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<p ng-show="frm.password_confirmation.$error.required && !frm.password_confirmation.$pristine" class="error">required</p>
						<p ng-show="frm.password_confirmation.$error.same && !frm.password_confirmation.$pristine" class="error">{{ui.ID_P_MATCH}}</p>
						
					</div>
				</div>
				<!-- compare-to="input.password" -->
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="first_name">{{ui.ID_FIRST_NAME}}</label>
						<div class="form-group1 required-field-block ">
							<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="{{ui.ID_FIRST_NAME}}" ng-model="input.FirstName" required>
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<p ng-show="frm.first_name.$error.required && !frm.first_name.$pristine" class="error">required</p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="last_name">{{ui.ID_LAST_NAME}}</label>
						<div class="form-group1 required-field-block">
							<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="{{ui.ID_LAST_NAME}}" ng-model="input.LastName" required>
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<p ng-show="frm.last_name.$error.required && !frm.last_name.$pristine" class="error">required</p>
					</div>
				</div>
				<div class="row">
					
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="email">{{ui.ID_EMAIL}}</label>
						<div class="form-group1  required-field-block">
							<input type="email" name="email" id="email" class="form-control input-sm" placeholder="{{ui.ID_EMAIL}}" ng-model="input.Email" required>
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<p class="error" ng-show="frm.email.$error.required && !frm.email.$pristine">{{ui.ID_EMAIL_REQUIRED}}</p>
						<p class="error" ng-show="frm.email.$error.email">{{ui.ID_EMAIL_INVALID}}</p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3">
					<label></label>
					<div class="form-group1">
						<input  type="radio" name="sex" id="msex" value="1" ng-model="input.Sex"/>
						<label for="msex">{{ui.ID_BARBAT}}</label>
						<input  type="radio" name="sex" id="fsex" value="2" ng-model="input.Sex"/>
						<label for="fsex">{{ui.ID_FEM}}</label>
					</div>
					</div>
					
				</div>
				
				
				
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<label for="phone">{{ui.ID_PHONE}}</label>
						<div class="form-group1  required-field-block">
							<input type="text" name="phone" id="phone" ng-model="input.phone" class="form-control input-sm" ui-mask="(999) 999-9999" required></input>
							<div class="required-icon">
								<div class="text">*</div>
							</div>
						</div>
						<p ng-show="frm.phone.$invalid && !frm.phone.$pristine" class="error">required</p>
					</div>
					<div class="col-xs-3 col-sm-3 col-md-3">
					<label for="birth" class="">{{ui.ID_ZI_NASTERE}}</label>
						<div class="">
							<p class="input-group">
								<input type="text" name="birth" class="form-control" datepicker-popup="dd-MMM-yyyy" ng-model="input.BirthDay" is-open="input.opened" datepicker-options="input.dateOptions" close-text="Close" ng-required="true" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-disabled="false" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								</span>
							</p>
						</div>
						<p ng-show="frm.birth.$invalid && !frm.birth.$pristine" class="error">required</p>
					</div>
					
				</div>
				<div class="form-group1">
					<!-- //https://angular-file-upload.appspot.com/ -->
					<img ng-src="{{userImage.avatarUrl}}" class="thumb" ng-click="chooseAvatar()">
					<!-- <img ng-show="picFile[0] != null" ngf-thumbnail="picFile[0]" class="thumb ng-hide" src=""> -->
					<form id="fileUploadForm" method="post" enctype="multipart/form-data">
						<div class="hide">
							<input id="fileupload" type="file" ng-file-select="" ng-model="picFile" name="files[]" accept="image/*" ng-file-change="generateThumb(picFile[0], $files)" class="hide ng-pristine ng-untouched ng-valid ng-valid-required"
							required=""/>
						</div>
					</form>
				</div>
				
				
				<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-3">
						<div class="form-group1">
							<input type="checkbox" id="company" value=""  title="" ng-model="input.IsCompany" ng-change="viewCompany()"/>
							<label for="company">{{ui.ID_COMPANY}}</label>
						</div>
					</div>
				</div>
				<div class="row">
					<ng-include src='CompanyPath'/>
					</ng-include>
				</div>
				<div class="row">
					<!-- <button type="button" class="btn btn-default" ng-disabled="frm.$invalid" ng-click="newUser()">{{ui.ID_SAVE}}</button> -->
					<div class="col-xs-6">
					<button type="button" class="btn btn-default"  ng-click="newUser()">{{ui.ID_SAVE}}</button>
					<span class="Red">{{DB_OP}}</span>
					</div>
				</div>
				
				</ng-form>
			</div>
			
		</div>