<ng-form name="frmReset"  novalidate>
<div class="panel-body my">
	<div class="">
		<div class="row form-group" >
			<label for="txtEmail">{{ui.ID_EMAIL}}</label>
			<input type="email" name="txtEmail" id="txtEmail" class="form-control" required="required" ng-model="input.Email">
			<input type="button" class="btn btn-primary" value ="{{ui.ID_REMEMBER_PASSWORD}}" ng-click="SendResetPasswordEmail()"/>
		</div>
		<p class="error" ng-show="frmReset.txtEmail.$error.required">Required!</p>
		<p class="error" ng-show="frmReset.txtEmail.$error.email">{{ui.ID_EMAIL_INVALID}}</p>
		<p class="error">{{input.ResetEmail}}</p>
		<a ng-click="GoToResetPassword()")>{{ui.ID_SET_PASSWORD}}</a>
	</div>
</div>
</ng-form>